$highlight-color: white;
$sidebar-bg-color: #1a73e8;
$submenu-bg-color: #0463de;
$submenu-bg-color-collapsed: #1a73e8;
$sidebar-color: white;
$submenu-indent: 20px;
@import '~react-pro-sidebar/dist/scss/styles.scss';
