.wrapper {
  width: 100%;
  padding: 10px 4px;
}

.title {
  text-align: center;
  color: var(--primary);
}

.new-product-btn {
  display: flex;
  text-decoration: none;
  background-color: var(--primary);
  width: 120px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 2px;
  font-size: 1.2rem;
  &:hover {
    opacity: 0.9;
  }
}
.new-product-icon {
  font-size: 0.8rem;
  display: inline-block;
  margin-right: 4px;
}
